# Variables de entorno
.env
.env.local
.env.development
.env.production

# Vercel
.vercel

# Dependencias
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operativo
.DS_Store
Thumbs.db